# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Models cache
.cache/
huggingface/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environment
.env
.env.local

# OS/IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.venv-1/

*.log
